:host {
  font-family: sans-serif;
  border: 2px solid var(--color-orange);
  margin: 2rem;
  padding: 1rem;
  display: block;
  background: var(--color-blue);
  color: var(--color-orange);
  width: 20rem;
  max-width: 100%;
}

:host(.error) {
  border-color: #ff0000;
  background: #540101;
}

form input {
  font: inherit;
  color: var(--color-blue);
  padding: 0.1rem 0.25rem;
  margin-right: 0.5rem;
}

form input:focus,
form button:focus {
  outline: none;
}

form button {
  font: inherit;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color-orange);
  background: transparent;
  color: var(--color-orange);
  transition: all 0.3s ease;
}

form button:hover,
form button:active {
  color: var(--color-orange-hovered);
  border-color: var(--color-orange-hovered);
}

form button:disabled {
  background: #ccc;
  border-color: #ccc;
  color: var(--color-blue);
  cursor: not-allowed;
}
